# numpy==1.26.4
# pytorch-lightning==1.9.5
# torchmetrics==0.11.4
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
numpy
pytorch-lightning
torchmetrics
opencv-python
nibabel
matplotlib
matplotlib-inline
IPython